NODE_ENV="<production|development|test>" # REQUIRED other values???
MAX_FILE_SIZE="10000000" # OPTIONAL - default value (in bytes)
MEDIA_DB_URL="file:./<sqlite_db_name>.db" # REQUIRED
MEDIA_FILES_DIR="./<media_files_dir>" # REQUIRED
MEDIA_PLUGINS_DIR="./<media_plugins_dir>" # REQUIRED
VECTOR_DB_PATH="./data/vector/<env_name>" # REQUIRED
VECTOR_MODEL_PATH="./models/" # OPTIONAL - default value
VECTOR_SIMILARITY_THRESHOLD="0.8" # OPTIONAL - default value - can be 0.01 - 0.99